<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md overflow-hidden">
    <div class="py-8 px-4">
        <h2 class="text-3xl font-semibold mb-4">{{ recipe.label }}</h2>
        <img class="rounded-lg mb-4" src="{{ recipe.image }}" alt="Image for the recipe">
        <div class="mb-4">
            <h3 class="text-xl font-semibold mb-2">Ingredients:</h3>
            <ul class="list-disc pl-4">
                @for(ingredient of recipe.ingredientLines; track ingredient){
                    <li>{{ ingredient }}</li>
                }
            </ul>
        </div>
        <p class="text-lg mb-4"><span class="font-semibold">Total Time:</span> {{ recipe.totalTime }}</p>