

<div class="flex justify-center my-4">
    <input type="text" [(ngModel)]="searchterm" class="border border-gray-300 rounded-md px-4 py-2 mr-2" placeholder="Search...">
    <button (click)="searchRecipe()" class="bg-blue-500 text-white px-4 py-2 rounded-md">Get Recipes</button>
  </div>
  
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center"></div>
    @for(recipe of recipes; track recipe){
        <article class="flex flex-col items-center bg-white shadow-md rounded-md p-4 m-4">
        <h3>{{ recipe.label }}</h3>
        <img [src]="recipe.image" width="250" alt="{{ recipe.label }}">
        <p>Time to cook: {{ recipe.totalTime }}</p>
        <p><a [routerLink]="['/recipe', recipe.selfref | recipeformatter ]">Go to recipe</a></p>
      </article>
    } @empty {<p>There are no recipes...</p>}